// Define variables for your color scheme
:root {
  /* primary colors */
  --app-bg: #F9F4EA;
  --header: #1f3248;
  --border: #cbb07b;
  --accent: #488b72;
  --main-text: #2b2c2e;

  /* secondary colors */
  --card-bg: #f1ebe0;
  --secondary-text: #6e6f73;
  --secondary-border: #9e7e45;
  --secondary-accent: #3b8b82;
  --main-action-button: #2b6cb0;
}
