:root {
  --app-bg: #F9F4EA;
  --header: #1f3248;
  --border: #cbb07b;
  --accent: #488b72;
  --main-text: #2b2c2e;
  --gold: #d4af37;


  --card-bg: #f1ebe0;
  --secondary-text: #6e6f73;
  --secondary-border: #9e7e45;
  --secondary-accent: #3b8b82;
  --main-action-button: #2b6cb0;
  --bs-btn-hover-bg: var(--main-action-button);
  --tracker-bg: #dceee5;

  --navy: var(--header);
  --navy-2: #16283d;
  --cream: #f6eedc;
  --dark-cream: #f5e3b7;
  --card: var(--card-bg);
  --hairline: #e6ded0;
  --sage: var(--accent);
  --sage-light: #bfe4d3;
  --gold: var(--border);
  --gold-light: #f2d383;
  --text: var(--main-text);
  --text-soft: var(--secondary-text);
  --user-message: #3F7567;
  --header-sage: #78A996;

  --pink: #ef5f96;
  --pink-light: #ffd2e2;
  --pink-dark: #a8305f;
  --red: #800303e4;
  --red-dark: #5c0202;

  --n1: #fb8e8e;
  --n2: #f9c26f;
  --n3: #efdb9e;
  --n4: #a1c6e8;
  --n5: #a4daa4;
}
