@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');

// Sass variables
$body-font: "M PLUS Rounded 1c", -apple-system, sans-serif;
$headers-font: "Baloo 2", "M PLUS Rounded 1c", sans-serif;
$font-ja: "M PLUS Rounded 1c", sans-serif;

:root {
  --font-body: #{$body-font};
  --font-headers: #{$headers-font};
  --font-ja: #{$font-ja};
}
